#signUpForm {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding-top: 62vh;
  width: 40vw;
}


.body-signup {
  background-image: url(../images/happydog.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Shrikhand";
  color: #2B2B2B
}
