* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  margin-bottom: 50px;
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.card {
  position: relative;
  width: 400px;
  height: 500px;
}

.card-img {
  margin-bottom: 0;
  width: 400px;
  height: 500px;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 40px 60px -6px rgb(104, 104, 104);
}

.bio {
  color: #fff;
  font-size: 2rem;
  width: 400px;
  position: absolute;
  bottom: 0;
  left: -50px;
  opacity: 1;
  z-index: 1;
}

.card li {
  margin-left: 20%;
  padding: 5px 5px;
  list-style-type: none;
}

h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 40px 0 20px 0;
  text-align: center;
}

.alert-no-matches {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
