.match-card {
    margin: 10% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.match-img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.match-container {
padding: 2px 16px;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(3, 3, 163);
    text-align: center;
}

.btns {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: flex-end;
}

.btns > *{
    font-size: 1rem;
    margin: 10px;
}

.FavoriteIcon {
    color: rgb(111, 8, 8);
}




