* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.matches-container {
  padding: 08vh 0 8vh;
  /* padding: 0 0.8rem; */
  width: 100vw;
  background-color: #f8f8f8;
}

.matches-search {
  height: 3vh;
}

.cards-title {
  background-color: #fff;
  margin: 0;
  padding: 2rem 1rem 1rem;
  text-align: left;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 1.2rem 1.2rem 0 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 0.2rem;
  padding: 1rem 0.8rem;

  background-color: #fff;
}
.card:nth-child(even) {
  margin-top: 2rem;
}
.card:last-child {
  margin-top: 2rem;
  margin-right: auto;
}

.card {
  min-height: 28vh;
  min-width: 44vw;
  position: relative;
  border: none;
  box-shadow: 0 4px 6px -60px rgb(104, 104, 104);
  background-size: cover;
  border-radius: 1rem;
  background-position: center center;
  cursor: pointer;
}

.card::after {
  border-radius: 1rem;

  content: "";
  position: absolute;
  inset: 0;
  display: block;
  /* background-color: red; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 1%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 70%,
    rgba(0, 0, 0, 0.85) 95%
  );
}

.card-bio {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 0.5rem;
  z-index: 1;
}

.card-bio p {
  margin: 0;
  font-weight: 500;
  width: 100%;
  letter-spacing: 1px;
  padding-left: 0.6rem;
  text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.4);
}
.card-bio p::first-letter {
  text-transform: capitalize;
}
/* 
.card {
  position: relative;
  width: 400px;
  height: 500px;
}

.card-img {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 40px 60px -6px rgb(104, 104, 104);
}

.bio {
  color: #fff;
  font-size: 2rem;
  width: 400px;
  position: absolute;
  bottom: 0;
  left: -50px;
  opacity: 1;
  z-index: 1;
}

.card li {
  margin-left: 20%;
  padding: 5px 5px;
  list-style-type: none;
}

h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 40px 0 20px 0;
  text-align: center;
} */

.alert-no-matches {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .cards-title {
    padding: 2rem 2rem 1rem;
    font-size: 3rem;
  }
  .card {
    min-height: 50vh;
  }
  .cards {
    padding: 2rem 1.4rem;
  }
  .card-bio p {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .card {
    min-height: 60vh;
  }
  .cards {
    padding: 2rem 1.4rem;
  }
  .card-bio p {
    font-size: 1.4rem;
  }
}
