.match-card {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.match-img {
    max-width: 100%;
    border-radius: 5px 5px 5px 5px;
}

.match-container {
padding: 2em 2em;
}

h2 {
    font-family: "Shrikhand";
    color: #2b2b2b;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: flex-end;
}

.btns > *{
    font-size: 1rem;
    margin: 10px;
}

.FavoriteIcon {
    color: rgb(111, 8, 8);
}

@media only screen and (max-width: 465px ) {
.match-card{
    margin: 1% auto;
} 
.match-img{
    margin-top: 10%;
}
}

.back {
    margin-left: 0;
    margin-top: 3.9rem;
    width: max-content;
    cursor: pointer;
}

.MuiAlert-message {
    border-top: 5rem;
}
