.matchedCard{
    margin-top: 20px;
    max-height: 100%;
}

.profilbild{
    margin-top: 0;
max-width: 100%;
height: auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(3, 3, 163);
    text-align: center;
}

ul li {
    list-style: none;
}

ul {
    width: 50%;
 }

 .buttons{
     margin: 0 auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
     justify-items: flex-start;
 }

 .buttons > * {
     margin: 20%;
 }

