.userProfilForm {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 4rem;
  margin-top: 5rem;
}

.userProfilForm > div,
.userProfilForm > label {
  margin: 0.4rem auto;
  width: 100%;
}

.userProfilForm .text-field {
  margin-top: 1rem;
}
.userProfilForm .text-field > div {
  /* margin: 0; */
  padding: 0.5rem;
}

.userProfilForm button {
  margin: 1rem 0;
}
