.userProfilForm {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 4rem;
  margin-top: 5rem;
}

.userProfilForm > div,
.userProfilForm > label {
  margin: 0.4rem auto;
  width: 100%;
  background-color: rgb(rgb(5, 95, 0), green, blue);
}

.userProfilForm .text-field {
  margin-top: 1rem;
  font-family: system-ui !important;
  font-weight: bold !important;
}
.userProfilForm .text-field > div {
  /* margin: 0; */
  padding: 0.5rem;
}

.css-12wi0s0-MuiButtonBase-root-MuiMenuItem-root {
  font-family: system-ui !important;
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMultiline.MuiOutlinedInput-inputMultiline {
  font-family: system-ui !important;
}

.MuiSelect-select.MuiSelect-outlined.MuiOutlinedInput-input.MuiInputBase-input.css-v3zyv7-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: system-ui !important;
}

.userProfilForm button {
  margin: 1rem 0;
}

/* 
die Farbe vom Border hätte besser geändert werden können aber gab es keine bessere Lösung dafür
*/
.css-1vrqiqu-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #9CDE4E !important;
}
a {
  color: aliceblue;
}


button {
  font-family: system-ui !important;
  color: white;
}



@media only screen and (max-width: 2000px )  {
  .img-btn {
    width: 400px !important;
  }
  .save-btn {
    margin: 0 auto;
    width: 400px !important
  }
}
@media only screen and (min-width: 370px) {
  .img-btn {
    width: 310px !important;
  }
  .save-btn {
    margin: 0 auto;
    width: 310px !important
  }
}