.form {
    margin-left: 21%;
    margin-top: 7rem;
}


.msg {
    width: 100px;
    margin: 20rem 20rem;
    
}

@media only screen and (max-width: 390px) {
    .msg {
      margin: 10rem 5rem;
    }
  }

