.header {
  bottom: 0;
  height: 50px;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-bottom: 100px;
}

.navlink {
  /* margin: 0 auto; */
  padding: 2rem;
}

a {
  text-decoration: none;
}

.user-image {
  border-radius: 50%;
}
.MuiSwitch-track {
  background-color: #9cde4e !important;
}
