.body-login {
  background-image: url(../images/happydog.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Shrikhand";
  color: #2b2b2b;
}
.loginForm {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  color: "#2B2B2B";
  font-family: "Shrikhand";
  width: 400px;
}

.loginForm > form > * {
  width: 100%;
  margin-bottom: 1rem;
}

.background {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
  padding-bottom: 7vh;
}

/* .css-10botns-MuiInputBase-input-MuiFilledInput-input:focus{
  border-color: #9CDE4E !important;
} */


.css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #2b2b2b !important;
}

.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root::after {
  border-bottom: #2b2b2b !important;
}

/* body {
  background-image: url(../images/happydog.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Shrikhand";
  color: #2B2B2B

} */

/* @media only screen and (max-width: 1200px) {
  .loginForm {
    width: 55vw;
  }
}
@media only screen and (max-width: 600px) {
  .loginForm {
    width: 80vw;
  }
}
@media only screen and (max-width: 425px) {
  .loginForm {
    width: 100vw;
  }
} */
