.loginForm {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  padding-top: 62vh;
  flex-direction: column;
  width: 40vw;
  color: '#2B2B2B';
  font-family: "Shrikhand";
}

.body-login {
  background-image: url(../images/happydog.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Shrikhand";
  color: #2B2B2B
}

