body {
  background-color: #f5f4e9;
  background-color: #fbfbfb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  /* background-color: whitesmoke; */
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
