body {
  background-color: #f5f4e9;
  /* background-color: whitesmoke; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: red; */
  width: 100%;
  height: 100vh;
}
